body {
  background: #eeeeee;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 40px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.discover-icon {
  width: 36px !important;
  height: 36px !important;
}

.organize-icon {
  width: 36px !important;
  height: 36px !important;
}

.overlays-icon {
  width: 36px !important;
  height: 36px !important;
}